{% extends "layout.html" %}
{% block content %}
<div class="col-xs-12" style="padding: 0; top: 0; left: 0; height: 100vh; background-attachment: fixed; overflow: auto;">
	<div class="col-xs-10" style="background: #003D5B; height: 15vh;">
		<a href="{{url_for('committee')}}">
			<img src="http://galmun.net/img/logo.png" style="height: 10vh; margin: 10px;">
			<h1 style="font-family: 'Dosis', sans-serif; display: inline; vertical-align: middle; color: white;">GALMUN Software</h1><p id="speaker_time" style="display: none;">{{speaker_time}}</p><p id="fixed_speaker_time" style="display: none;">{{speaker_time}}</p>
		</a>
	</div>
	<div class="col-xs-2" style="background: #003D5B; height: 15vh;">
		<img src="http://galmun.net/img/logo.png" style="height: 10vh; margin: 10px; width: 0;">
		<a href="{{url_for('users.logout')}}">
			<h1 style="font-family: 'Dosis', sans-serif; display: inline; vertical-align: middle; color: white;">Logout</h1>
		</a>
	</div>
	<div col-xs-12>
		<center>
			<h1 style="font-family: 'Dosis', sans-serif; font-size: 30em; color: #003D5B;" id="lobbying_timer">00:00</h1>
		</center>
	</div>
</div>
{% endblock %}