beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
click==6.7
Django==2.0.8
django-countries==5.3.1
flags==0.0.1.2
Flask==1.0
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.1
Flask-WTF==0.14.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycountry==18.5.26
pytz==2018.5
requests==2.19.1
SQLAlchemy==1.2.11
urllib3==1.23
Werkzeug==0.14.1
wikipedia==1.4.0
WTForms==2.2.1
